Repository VictorDelamonica/KosmosDigitalTest: changes, and which pre-commit hooks are due for each by the changed paths.
All: dart-format, flutter-analyze, validate-pubspec, check-image-size

Path conditions:
  dart-format: any of: \.dart$
  flutter-analyze: any of: \.dart$
  validate-pubspec: any of: pubspec\.ya?ml$
  check-image-size: any of: \.(png|jpg|jpeg|gif|webp)$

fix: Login view
  lib/src/features/connections/view/login_view.dart
Due: dart-format, flutter-analyze

feat: Implement user authentication and registration flow with Firebase
  .gitignore
  android/app/build.gradle.kts
  android/settings.gradle.kts
  ios/Flutter/Debug.xcconfig
  ios/Flutter/Release.xcconfig
  ios/Runner.xcodeproj/project.pbxproj
  kosmos_digital_test.iml
  lib/main.dart
  lib/src/core/components/custom_button.dart
  lib/src/core/components/custom_text_field.dart
  lib/src/core/components/popup_modal.dart
  lib/src/features/connections/model/user_model.dart
  lib/src/features/connections/provider/user_provider.dart
  lib/src/features/connections/service/connection_service.dart
  lib/src/features/connections/view/login_view.dart
  lib/src/features/connections/view/register_details_view.dart
  lib/src/features/connections/view/register_view.dart
  lib/src/features/home/view/home_view.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, validate-pubspec

feat: Add authentication wrapper and enhance login flow with error handling
  lib/main.dart
  lib/src/core/components/custom_text_field.dart
  lib/src/features/connections/model/user_model.dart
  lib/src/features/connections/provider/user_provider.dart
  lib/src/features/connections/service/connection_service.dart
  lib/src/features/connections/view/auth_wrapper.dart
  lib/src/features/connections/view/login_view.dart
  lib/src/features/connections/view/register_view.dart
  lib/src/features/home/view/home_view.dart
Due: dart-format, flutter-analyze

feat: Implement Add Post feature with image selection and description input
  lib/main.dart
  lib/src/core/components/custom_text_field.dart
  lib/src/features/connections/provider/user_provider.dart
  lib/src/features/connections/view/auth_wrapper.dart
  lib/src/features/connections/view/login_view.dart
  lib/src/features/connections/view/register_details_view.dart
  lib/src/features/connections/view/register_view.dart
  lib/src/features/home/view/home_view.dart
  lib/src/features/post/model/post_model.dart
  lib/src/features/post/provider/post_provider.dart
  lib/src/features/post/view/add_post.dart
  pubspec.yaml
Due: dart-format, flutter-analyze, validate-pubspec

feat: Add Post Details view and navigation from home view
  lib/main.dart
  lib/src/core/components/custom_button.dart
  lib/src/features/home/view/home_view.dart
  lib/src/features/post/view/post_details_view.dart
Due: dart-format, flutter-analyze

feat: Add Profile view and enhance user account management features
  lib/main.dart
  lib/src/core/components/custom_text_field.dart
  lib/src/core/components/popup_modal.dart
  lib/src/features/connections/provider/user_provider.dart
  lib/src/features/connections/service/connection_service.dart
  lib/src/features/connections/view/login_view.dart
  lib/src/features/connections/view/register_details_view.dart
  lib/src/features/connections/view/register_view.dart
  lib/src/features/home/view/home_view.dart
  lib/src/features/post/view/add_post.dart
  lib/src/features/profile/view/email_edit_view.dart
  lib/src/features/profile/view/personal_info_view.dart
  lib/src/features/profile/view/profile_view.dart
  lib/src/features/profile/view/security_view.dart
Due: dart-format, flutter-analyze

feat: Add CI/CD
  .github/workflows/acceptance_cycle.yml
  .github/workflows/build_release.yml
  .github/workflows/commit_cycle.yml
  .github/workflows/push_to_master.yml
Due: none

feat: Add Firebase configuration files and update .gitignore
  .gitignore
  android/app/google-services.json
  ios/Podfile
  ios/Runner/GoogleService-Info.plist
  lib/firebase_options.dart
  test/widget_test.dart
Due: dart-format, flutter-analyze

fix
  .github/workflows/commit_cycle.yml
Due: none

feat: Update README.md with project overview, features, and setup instructions
  README.md
Due: none

feat: Update App Icon
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/100.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/1024.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/114.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/120.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/144.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/152.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/167.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/180.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/20.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/29.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/40.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/50.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/57.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/58.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/60.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/72.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/76.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/80.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/87.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
Due: check-image-size

feat: Add integration tests for ConnectionService and PostProvider
  pubspec.yaml
  test/integration/connection_service_test.dart
  test/unit/post_provider_test.dart
  test/widget_test.dart
Due: dart-format, flutter-analyze, validate-pubspec

fix: Update test commands in acceptance_cycle.yml and commit_cycle.yml
  .github/workflows/acceptance_cycle.yml
  .github/workflows/commit_cycle.yml
Due: none
